.btn {
  background-color: #0B5CD2;
  color: white;
  font-size: 1.8rem;
  width: 9rem;
  height: 4.55rem;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
}
.btn:hover {
  cursor: pointer;
}
