.card {
  height: 40rem;
  width: 30rem;
  box-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.123);
  border: 0.1px solid rgba(0, 0, 0, 0.253);
}
.card-body {
  height: 10rem;
  width: 80rem;
  box-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.123);
  border: 0.1px solid rgba(0, 0, 0, 0.253);
}
