.btn {
  background-color: #0B5CD2;
  color: white;
  font-size: 1.8rem;
  width: 9rem;
  height: 4.55rem;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
}
.btn:hover {
  cursor: pointer;
}
.bg-primary {
  background-color: #0D6EFD;
}
.text-primary {
  color: #0D6EFD;
}
.bg-secondary {
  background-color: #6C757D;
}
.text-secondary {
  color: #6C757D;
}
.bg-success {
  background-color: #198754;
}
.text-success {
  color: #198754;
}
.bg-danger {
  background-color: #DC3545;
}
.text-danger {
  color: #DC3545;
}
.bg-warning {
  background-color: #FFC107;
}
.text-warning {
  color: #FFC107;
}
.bg-info {
  background-color: #0DCAF0;
}
.text-info {
  color: #0DCAF0;
}
.bg-light {
  background-color: #F8F9FA;
}
.text-light {
  color: #F8F9FA;
}
.bg-dark {
  background-color: #212529;
}
.text-dark {
  color: #212529;
}
.bg-white {
  background-color: #fff;
}
.text-white {
  color: #fff;
}
.bg-transparent {
  background-color: rgba(255, 255, 255, 0);
}
.text-transparent {
  color: rgba(255, 255, 255, 0);
}
form {
  margin: 1rem;
}
.form-label {
  font-size: 1.5rem;
}
button {
  margin: 1rem;
  width: 9rem;
}
label {
  margin: 1rem;
}
input {
  width: 50%;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
  border: 1px solid #555;
}
.input-lg {
  width: 80%;
}
input[type=text]:focus {
  border: 3px solid #0d6dfd77;
}
textarea {
  width: 50%;
  height: 15rem;
}
*,
::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.grid-container {
  display: grid;
  grid-template-rows: repeat(auto, auto);
  grid-template-columns: 1fr;
  height: 100vh;
}
